
body{
    font-family: 'poppins';
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3vh;
    box-shadow: 1px 0 1px 10px rgba(128, 128, 128, 0.401);
}

.topNav{
    font-size: large;
    font-weight: 600;
    margin: 2vh;
}


.tipPercent , .totalAmount{
    font-size: large;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outputDisplayWrap{
    display: flex;
    margin: 3vh;
}

.outputDisplay{
    font-size: large;
    font-weight: 600;

}

